[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-env = '*'
Pytest-flask = '*'

[packages]
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-cors = "*"
waitress = '*'
pymysql = '*'
pyyaml = '*'

[requires]
python_version = "3.7"